$page-background: url('./assets/page-bg27.jpg');

@font-face {
  font-family: 'MTGFont';
  src: url('./assets/Beleren2016-Bold.ttf') format('truetype'),
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  width: 100svw;
  margin: auto;
  font-family: 'MTGFont', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

div#root {
    width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mtg-tutor__background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: $page-background;
  background-position: center 10%;
  background-size: cover;
  z-index: -100000;
}
.mtg-tutor__background::before {
  content: '';
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
}

.mtg-tutor__main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-top: 32px;
  .title{
    font-size:xx-large;
    position: relative;
    font-weight: 1000;
    font-size: 5em;
    font-family: 'MTGFont', sans-serif;
    z-index: 1;
    position: relative;
    background: white;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    mix-blend-mode: overlay;
  }
  .title::after {
    content: 'MTG PRICE TUTOR';
    position: absolute;
    top: 0%;
    left: 0%;
    color: transparent;
    -webkit-text-stroke: 1.5px white;
    z-index: 2;
    mix-blend-mode: normal;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }

  .title::before {
    content: 'MTG PRICE TUTOR';
    position: absolute;
    top: 0%;
    left: 0%;
    color: transparent;
    -webkit-text-stroke: 1.5px white;
    z-index: 2;
    mix-blend-mode: normal;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }

  .subtitle {
    position: relative;
    color: white;
    font-size: large;
    z-index: 1;
  }
}

@media (max-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100svh;
    width: 100svw;
    margin: auto;
    font-family: 'MTGFont', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
  }

  .mtg-tutor__main-container {
    .title {
      font-size: 2.6rem;
    }
    .subtitle {
      margin: 0 12px;
      text-align: center;
      font-size: small;
    }
  }
}